<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertPatientDataServlet</servlet-name>
        <servlet-class>com.doc.controller.InsertPatientDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPatientLoginServlet</servlet-name>
        <servlet-class>com.doc.controller.CheckPatientLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDetailServlet</servlet-name>
        <servlet-class>com.doc.controller.MyDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAdminLoginServlet</servlet-name>
        <servlet-class>com.doc.controller.CheckAdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDoctorLoginServlet</servlet-name>
        <servlet-class>com.doc.controller.CheckDoctorLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctorByAdmin</servlet-name>
        <servlet-class>com.doc.controller.AdditionOfDocData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctorDataServlet</servlet-name>
        <servlet-class>com.doc.controller.AddDoctorDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDoctorByAdmin</servlet-name>
        <servlet-class>com.doc.controller.ViewDoctorByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPatientByAdmin</servlet-name>
        <servlet-class>com.doc.controller.ViewPatientByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAppointmentServlet</servlet-name>
        <servlet-class>com.doc.controller.CancelAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertPatientDataServlet</servlet-name>
        <url-pattern>/InsertPatientDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPatientLoginServlet</servlet-name>
        <url-pattern>/CheckPatientLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyDetailServlet</servlet-name>
        <url-pattern>/MyDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAdminLoginServlet</servlet-name>
        <url-pattern>/CheckAdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDoctorLoginServlet</servlet-name>
        <url-pattern>/CheckDoctorLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctorByAdmin</servlet-name>
        <url-pattern>/AddDoctorByAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctorDataServlet</servlet-name>
        <url-pattern>/AddDoctorDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDoctorByAdmin</servlet-name>
        <url-pattern>/ViewDoctorByAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPatientByAdmin</servlet-name>
        <url-pattern>/ViewPatientByAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAppointmentServlet</servlet-name>
        <url-pattern>/CancelAppointmentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
